---

---

<footer>
	<div>Make my girl happy is where my passion lies =))</div>
	<div class="contact">
		<a target="_blank" rel="noopener noreferrer" href="https://github.com/meterglost"><i class="devicon-github-original"></i></a>
		<a target="_blank" rel="noopener noreferrer" href="https://linkedin.com/in/meterglost"><i class="devicon-linkedin-plain"></i></a>
		<a target="_blank" rel="noopener noreferrer" href="https://facebook.com/meterglost"><i class="devicon-facebook-plain"></i></a>
	</div>
</footer>

<style>
	footer {
		@apply flex flex-row justify-between py-8 px-16 gap-x-16;
	}

	footer .contact {
		@apply flex flex-row gap-x-4 text-xl;
	}
</style>
