<header>
	<a href="/">About me</a>
	<a href="/projects">My projects</a>
</header>

<style>
	header {
		@apply flex flex-row justify-center py-8 px-16 gap-x-16;
	}

	header a {
		@apply hover:underline;
	}
</style>
